<div class="w-full min-h-screen">
  <div class="py-10 px-8 items-center gap-6 grid grid-cols-1 lg:grid-cols-2">
    <div class="text-center md:order-1 order-2">
      <h1 class="text-primary font-semibold leading-6 mb-8 md:leading-[60px] md:text-5xl text-3xl">Platform For Important Stuff
        <span class="font-extrabold text-6xl">Notes</span>
        <%# TEMPORARY CODE FOR TESTING %>
        <%= link_to "Get Started", new_post_path,
                    data: {
                      action: "click->modal#open",
                      turbo_frame: "modal"
                    },
                    class: "bg-white hover:bg-gray-100 text-gray-800 font-semibold border border-gray-400 rounded shadow text-2xl md:text-4xl lg:text-5xl px-3 md:px-6 lg:px-8 py-1 md:py-2 lg:py-3" %>
      </h1>
      <p class="mb-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum fuga provident exercitationem voluptas reprehenderit, voluptatibus molestias porro harum, ipsam soluta recusandae aliquid non necessitatibus totam! Hic neque ipsa reiciendis. Sapiente!</p>
    </div>
    <div class="text-center md:order-2 order-1">
      <%= image_tag 'main.svg', class: 'text-gray-800 text-sm font-semibold hover:text-purple-600 mr-4' %>
    </div>
  </div>
</div>