<!-- component -->
<div class="bg-gray-100 font-sans w-full sticky top-0">
  <div class="bg-white shadow border-b">
    <div class="container mx-auto px-4">
      <div class="flex items-center justify-between py-4">
        <div class="flex items-center">
          <%= link_to root_path, class: 'flex items-center' do %>
            <%= image_tag 'logo.svg', class: 'w-10 h-10 text-gray-800 text-sm font-semibold hover:text-purple-600 mr-4' %>
            <span class="text-gray-800 text-lg font-bold align-items-center">KNotes</span>
          <% end %>
        </div>
        <div class="hidden sm:flex sm:items-center">
          <a href="#" class="text-gray-800 text-sm font-semibold hover:text-purple-600 mr-4">Notes</a>
          <a href="#" class="text-gray-800 text-sm font-semibold hover:text-purple-600 mr-4">Marketplace</a>
          <a href="#" class="text-gray-800 text-sm font-semibold hover:text-purple-600 mr-4">Partners</a>
        </div>
        <div class="hidden sm:flex sm:items-center">
          <%= link_to "#", data: { turbo_frame: "modal" }, class: "text-gray-800 text-sm font-semibold hover:text-purple-600 mr-4" do %>
            Sign in
          <% end %>
           <%= link_to "#", data: { turbo_frame: "modal" },
                  class: "text-gray-800 text-sm font-semibold border px-4 py-2 rounded-lg hover:text-purple-600 hover:border-purple-600" do %>
            Sign up
           <% end %>
        </div>
      </div>
    </div>
  </div>
</div>